@import url('https://fonts.googleapis.com/css2?family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');

button:hover{
     background-color: #1a391d;
}

h1 {
    font-family: "Thasadith", sans-serif;
    font-weight: 600;
    text-align: center;
    color: #1a391d;
}

h2 {
    font-family: "Thasadith", sans-serif;
    font-weight: 375;
    text-align: center;
    color: #1a391d;
}

h3 {
    font-family: "Thasadith", sans-serif;
    font-weight: 300;
    text-align: center;
    color: #1a391d;
} 

    body {
        background-image: url("124578.jpg");
    }




